.logo {
  font-family: 'PT Serif', serif;
}

.menuitem {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'PT Serif', serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

button {
  font-family: 'Roboto', sans-serif;
}
