* {
  border: dashed 1px red;
}

body {
  margin: 0;
}

.wrapper {
  width: 80%;
  margin: auto;
}

.header {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding-left: 44px;
  font: bold 24px/32px 'pt_serifbold', arial, helvetica, sans-serif;
}

.logo__circle {
  position: absolute;
  transform: translateY(-50%);
  top: 50%;
  left: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 60%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  padding: 0 13px;
  font: 500 18px/21px 'robotomedium', arial, helvetica, sans-serif;
}

.menu__item:last-child {
  padding-right: 0;
}

.main-section {
  display: flex;
  justify-content: space-between;
}

.main-content {
  margin-top: 206px;
  margin-bottom: 317px;
  max-width: 567px;
}

.main-content__title {
  margin-top: 0;
  margin-bottom: 40px;
  font: bold 66px/87px 'pt_serifbold', arial, helvetica, sans-serif;
}

.main-content__subtitle {
  margin-top: 0;
  margin-bottom: 41px;
  width: 80%;
  font: normal 22px/26px 'robotonormal', arial, helvetica, sans-serif;
}

.main-content__button {
  padding: 18px 21px;
  font: 500 18px/21px 'robotomedium', arial, helvetica, sans-serif;
}

.image-content {
  display: flex;
  align-items: center;
}
